
@{
    ViewBag.Title = "MainUserPage";
}

<h2>MainUserPage</h2>
<div>
    @Html.ActionLink("List of Flight", "Index1", "Flights")
</div>
<div>
    @Html.ActionLink("Booking History", "Index", "FlightBookings")
</div>
<div>
    @Html.ActionLink("Logout", "Logout")
</div>

