
@{
    ViewBag.Title = "MainAdminPage";
}

<h2>MainAdminPage</h2>
<div>
    @Html.ActionLink("Add Flight", "Create", "Flights")
</div>
<div>
    @Html.ActionLink("View Flight List", "Index", "Flights")
</div>
<div>
    @Html.ActionLink("Logout", "Logout")
</div>

